<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viral.piggybank"
    android:versionCode="1"
    android:versionName="Piggy Bank" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.viral.piggybank.activities.accountspage"
            android:label="@string/title_activity_accountspage"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.viral.piggybank.activities.transactionpage"
            android:label="@string/title_activity_transactionpage"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.viral.piggybank.activities.Newaccount_Page"
            android:label="@string/title_activity_newaccount__page"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.viral.piggybank.activities.BillActivity"
            android:label="@string/title_activity_bill"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.viral.piggybank.activities.HomeActivity"
            android:label="@string/title_activity_piggy_bank"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="com.viral.piggybank.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.viral.piggybank.services.ReminderService" >
        </service>

        <activity
            android:name="com.viral.piggybank.activities.AlaramActivity"
            android:label="@string/title_activity_alaram"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.viral.piggybank.activities.BillDetailActivty"
            android:label="@string/title_activity_bill_detail_activty"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.viral.piggybank.activities.TransactionDetailActivity"
            android:label="@string/title_activity_transaction_detail"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.viral.piggybank.activities.DeletedTransactionsActivity"
            android:label="@string/title_activity_deleted_transactions"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.viral.piggybank.activities.DeletedBillsActivity"
            android:label="@string/title_activity_deleted_bills"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.viral.piggybank.SetLimitsActivity"
            android:label="@string/title_activity_set_limits" >
        </activity>
    </application>

</manifest>